.login-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-page form {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    margin: 30px 0px;
    padding: 20px;
    border: 1px solid dodgerblue;
    border-radius: 10px;
}